<ion-header>
  <ion-toolbar>
    <ion-title>Info</ion-title>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card *ngIf="data">
    <ion-card-header>
      <ion-card-title color="primary">
        {{ data.name }}
      </ion-card-title>
      <ion-card-subtitle color="primary">
          {{ data.username }}
      </ion-card-subtitle>
    </ion-card-header>
    <ion-card-content>
      <ion-item>
        <ion-label>
          <h2>Email</h2>
          <p>{{ data.email }}</p>  
        </ion-label>
      </ion-item> 
      <ion-item>
        <ion-label>
          <h2>Address</h2>
          <p>{{ data.address.street }}</p>
          <p>{{ data.address.suite }}</p>
          <p>{{ data.address.city }}</p>
          <p>{{ data.address.zipcode }}</p> 
        </ion-label>
      </ion-item> 
      <ion-item>
        <ion-label>
          <h2>Phone</h2>
          <p>{{ data.phone }}</p>  
        </ion-label>
      </ion-item> 
      <ion-item>
        <ion-label>
          <h2>Website</h2>
          <p>{{ data.website }}</p>  
        </ion-label>
      </ion-item> 
      <ion-item>
        <ion-label>
          <h2>Company</h2>
          <p>{{ data.company.name }}</p>
          <p>{{ data.company.catchPhrase }}</p>
        </ion-label>
      </ion-item> 
    </ion-card-content>
  </ion-card>
  <ion-fab vertical="top" horizontal="end" slot="fixed" *ngIf="data?.phone != undefined">
    <ion-fab-button>
        <ion-icon name="call" (click)="call()"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-content>
